* {
    font-family: monospace, sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

 p,
 h2 { /*i fucking hate this class why did i create this why why why why why */
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex: auto;
    justify-content: center;
    color: #1a1714;
    height: 100%;
}

.blog-name {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .wallpaper {
    height: 250px;
    width: auto;
    flex: 1 1 auto;
    margin: 0px;
}

.container.pfp {
    margin-top: -100px;
    height: 150px;
    width: auto;
}

.container.links {
    gap: 5px;
    font-size: 15px;
    margin-bottom: -10px;
}

.container.links,
.container.additional {
    color: #807367;
}

.container.additional {
    gap: 25px;
    font-size: 13px;
    margin-bottom: 25px;
}

.container .bio {
    font-size: 14px;
    width: 800px;
    margin: 0px;
}

.container.post {
    display: block;
    border: solid #aaa8a7;
    border-width: thin;
    width: 500px;
    margin: auto;
    justify-content: left;
}

.post-title { /* feels too bold but idk */
    font-weight: 800;
}

.post-text {
    text-align: left;
    margin: 15px;
}

.post-body {
    font-size: 14px;
}

.post-images {
    width: 500px;
    height: auto;
}