* {
    font-family: monospace, sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

.text {
    text-align: center;
    color: #1a1714;
}

.container {
    display: flex;
    flex: auto;
    justify-content: center;
}

.container .text {
    color: #807367;
}

.container .images.wallpaper {
    height: 500px;
    width: auto;
    flex: 1 1 auto;
}

.container .images.pfp {
    margin-top: -50px;
    height: 150px;
    width: auto;
}

.container .additional {
    

} /* babe why the fuck does CSS not register the class "additional" as a class */
